@import url("htthttps://fonts.googleapis.com/css?family=Muli:400,700&display=swap");
.container {
  font-family: "Muli", sans-serif;
  padding: 20px;
  text-align: justify;
}
.content {
  font-size: 0.95rem;
  padding: 30px;
}
.content-two {
  padding: 30px;
}
.content-head{
  text-align: center;
  font-weight: bold;
  margin-bottom: 22px;
}
