@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.container {
  font-family: "Noto Sans", sans-serif;
  padding: 20px;
}
.content {
  padding: 30px;
}
.content-two {
  padding: 30px;
}

